{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "unicorn/import-style": "warn",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prefer-module": "off",
    "node/no-missing-import": "off"
  }
}
